/*
display
clear
float
overflow
position
top
right
botton
left
z-index
width
height
margin
padding
background:#color (url) no-repeat x y;
background-size:;
border
color
font-size
font-weight
text-overflow
text-align
line-height
text-indent
transform
transition
box-sizing
white-space
*/

$h48 : 48px;
$h56 : 56px;

html,
body { 
    font-family: $noto;

    &.scroll-lock {
        overflow: hidden !important;
    }
    
    &.scroll {
        overflow: auto !important;
    }
}

a {
    color: #000;
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: 14px;
}

dl,
dt,
dd {
    margin:0;
    padding:0;
}

figure,
p {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

legend {
    border: 0;
    background-color: transparent;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

table caption {
    display: none;
}

table th,
table td {
    margin: 0;
    padding: 0;
}

.cascading select {
    width: 100px;
    height: 200px;
}

form {
    margin: 0;
    padding: 0;
}

button,
[role="button"] {
    border: 0;
    background: none;
    list-style-type: none;
    cursor: pointer;
}

.input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
    
input::-ms-check{
    display:none
}

input::-ms-clear {
    display: none;
}

em {
    font-style: normal;
}

details {
    summary {
        position: relative;
        min-height: auto;
        list-style: none;
        cursor: pointer;
    
        &:after {
            @extend %icon-drop-down;
    
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    
        &:before {
            display: none;
        }

        &:focus {
            @extend %focus-outline;
        }
    
        &::-webkit-details-marker {
            display: none;
        }
    }

    &[open] {
        > summary {
            &:after {
                background-image: url($icon-drop-down-up-img);
            }
        }
    }

    &[icon="large"] {
        > summary {
            @extend %icon-drop-down-large;
        }

        &[open] {
            > summary {
                &:after {
                    background-image: url($icon-large-drop-down-up-img);
                }
            }
        }
    }
    
    &:disabled, &[disabled="disabled"] {
        &[fixed] {
            > summary {
                &::after {
                    display: none;
                }
            }
        }

        > summary {
            @extend %icon-drop-down-large;

            pointer-events: none;
            
            &::after {
                background: url($icon-large-drop-down-img) no-repeat center center;
            }
        }

        &[icon-hide], &[icon-hide="icon-hide"] {
            > summary {
                &::after {
                    display: none;
                }
            }
        }

        &[open] {
            > summary {
                &:after {
                    background-image: url($icon-large-drop-down-up-img-disabled);
                }
            }
        }
    }
}

textarea {
    resize: none;

    &:focus {
        @extend %focus-outline;
    }
}

mark {
    background: none;
}


select {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    min-height: 32px;
    padding: 0 32px 0 12px;
    font-size: 12px;
    letter-spacing: -0.4px;
    border: none;
    background: url(#{$images}/common/down-line-16.svg) no-repeat right 8px top 50%;
    // color: $color_basic;
    font-size: 13px;

    &:disabled {
        background: url(#{$images}/common/down-line-16-disabled.svg) no-repeat right 8px top 50%;
        color: $gray-12;
    }
}
/* IE 에서 Select box 화살표 제거 */ 
select::-ms-expand { display: none; }

span {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: initial;
}

input[type="file"],
input[type="checkbox"],
input[type="radio"] {
    & + * {
        cursor: pointer;
    }

    &:disabled + * {
        cursor: no-drop !important;
    }
}

button {
    &:disabled {
        opacity: .7;
        cursor: no-drop;
    }
}

::placeholder {color: $gray-32;}
:-moz-placeholder {color: $gray-32;}
::-moz-placeholder {color: $gray-32;}
::-webkit-input-placeholder {color: $gray-32;}

%btnMargin {
    display: inline-block;
    width: calc(100% - 4px);
    height: 48px;
    margin: 0 4px;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    background: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-align: center;

    &:only-child {
        width: 100%;
    }

    &.h48 {
        height: $h48;
    }

    &.h56 {
        height: $h56;
    }
}

%btnFull {
    display: inline-block;
    width: 100%;
    height: 52px;
    padding: 14px 0;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-align: center;

    &:only-child {
        width: 100%;
    }

    &.h48 {
        height: $h48;
    }

    &.h56 {
        height: $h56;
    }
}

%btnDefault {
    display: inline-block;
    width: calc(100% - 4px);
    border-radius: 8px;
    margin: 0 4px;
}

%typographic {
    color: $black;
    font-weight: 500;
    letter-spacing: -1px;
    word-break: keep-all;

    strong {
        font-weight: bold;
    }

    &.point {
        color: $point;
    }
}

$disabledBg : $gray-16;
$disabledInput : $gray-4;
$btnSize: ''; //each 검색용
$btnColors : ''; //each 검색용

.fb {
    button,
    input {
        &:focus, &:active {
            @extend %focus-outline;
        }
    }

    button {
        &:focus, &:active {
            outline-style: auto;
        }
    }

    &__title {
        &--hidden {
            font-size: 0;
            line-height: 0;
        }
    }

    &__hide {
        display: none;
    }

    &__btn-wrap {
        display: flex;
        flex-wrap: nowrap;

        &.margin {
            width:calc(100% + 8px);
            margin-left:-4px;
        }
    }

    &__btn {
        &-margin {
            
            &--green {
                @extend %btnMargin;
                background-color: $primary;
                color: $white;
                -webkit-tap-highlight-color: $primary-pressed;
    
                &:disabled,
                &.disabled {
                    background-color: $gray-16;
                }
            }
    
            &--black {
                @extend %btnMargin;
                background-color: $gray-80;
                color: $white;
                -webkit-tap-highlight-color: $gray-80-pressed;
    
                &:disabled,
                &.disabled {
                    background-color: $gray-16;
                }
            }
    
            &--white {
                @extend %btnMargin;
                background-color: $white;
                border: 1px solid $gray-24;
                color: $black;
                -webkit-tap-highlight-color: $white-pressed;
    
                &:disabled,
                &.disabled {
                    background-color: $gray-16;
                    color: $white;
                }
    
                &+.fb__btn-full--white {
                    border-left: none;
                }
            }
        }
        
        &-full {
            &--green {
                @extend %btnFull;
                background-color: $primary;
                color: $white;
                -webkit-tap-highlight-color: $primary-pressed;

                &:disabled,
                &.disabled {
                    background-color: $gray-16;
                }
            }

            &--black {
                @extend %btnFull;
                background-color: $gray-80;
                color: $white;
                -webkit-tap-highlight-color: $gray-80-pressed;

                &:disabled,
                &.disabled {
                    background-color: $gray-16;
                }
            }

            &--white {
                @extend %btnFull;
                background-color: $white;
                border: 1px solid $gray-8;
                color: $black;
                -webkit-tap-highlight-color: $white-pressed;

                &:disabled,
                &.disabled {
                    background-color: $gray-16;
                    color: $white;
                }
            }
        }
        
        &--green {
            @extend %btnDefault;
            background-color: $primary;
            color: $white;
            -webkit-tap-highlight-color: $primary-pressed;

            &:disabled,
            &.disabled {
                background-color: $gray-16;
            }
        }

        $btnSize: 'large', 'medium', 'small';
        $btnColors: 'black', 'white';

        @each $size in $btnSize {
            @each $color in $btnColors {

                &__#{$size}--#{$color} {
                    display: inline-block;
                    @extend %btnDefault;

                    @if $size=='large' {
                        width: 62px;
                        height: 40px;
                        font-size: 14px;
                        line-height: 20px;
                    }

                    @else if $size=='medium' {
                        width: 56px;
                        height: 36px;
                        font-size: 12px;
                        line-height: 16px;
                    }

                    @else if $size=='small' {
                        width: 56px;
                        height: 32px;
                        font-size: 12px;
                        line-height: 16px;
                    }

                    @if $color=='white' {
                        border: 1px solid $gray-24;
                        background: $white;
                        color: $black;
                        -webkit-tap-highlight-color: $white-pressed;

                        &:disabled {
                            color: rgba(0, 0, 0, 0.12);
                        }
                    }

                    @else if $color=='black' {
                        background: $gray-80;
                        color: $white;
                        -webkit-tap-highlight-color: $gray-80-pressed;

                        &:disabled {
                            background-color: $gray-16;
                        }
                    }
                }
            }
        }

        &-icon {
            display: inline-flex;
            align-items: center;
            width: auto;
            padding: 8px 8px 8px 12px;
            border: 1px solid $gray-8;
            border-radius: 8px;
            background: $white;
            color: $black;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: -0.4px;
            -webkit-tap-highlight-color: $white-pressed;

            &:after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                background: url(#{$images}/common/link-line-16.svg) no-repeat center;
            }

            &:disabled {
                color: $white;
                background: $gray-16;

                &:after {
                    background: url(#{$images}/common/link-line-16-white.svg) no-repeat center;
                }
            }

            &:active,
            &:focus {
                background:#fafafa;
            }
        }
        
        &__add-cart {  
            font-size: 0;
            border-radius: 100%;
            background: $primary url(#{$images}/common/icon-btn-addcart-small.svg) no-repeat center center; 

            &:hover {
                background-color: $primary-hover;
            }  

            &:disabled {
                background-color: $gray-16 !important;
            }  

            &.small {
                width: 32px;
                height: 32px;      
            }

            &.medium {
                width: 36px;
                height: 36px;
            }

            &.large {
                width: 40px;
                height: 40px;
                background: $primary url(#{$images}/common/icon-btn-addcart-large.svg) no-repeat center center;

                &:disabled {
                    background: $gray-12 url(#{$images}/common/icon-btn-addcart-large.svg) no-repeat center center;
                }  
            }
        }
    }

    &__icon {
        &__cart {
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(#{$images}/common/cart-line-24-white.svg) no-repeat center center;
            content: "";
        }
    }

    &__data {
        &__empty {
            padding: 100px 0 120px;
            text-align: center;

            &:before {
                display: block;
                width: 64px;
                height: 64px;
                margin: 0 auto;
                background: url(#{$images}/common/notice-line.svg) no-repeat center center/64px 64px;
                content: "";
            }

            &__message {
                display: block;
                margin-top: 8px;
                color: $gray-32;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.4px;
            }
        }
    }

    &__filter {
        &-btn {
            width: 60px;
            height: 32px;
            border-radius: 8px;
            background:$gray-80;
            color:$white;
            font-size: 12px;
            letter-spacing: -0.4px;
            -webkit-tap-highlight-color: $gray-80-pressed;
            &:after {
                content:"";
                display:inline-block;
                width: 16px;
                height: 16px;
                background:url(#{$images}/common/filter-line.svg) no-repeat center /16px 16px;
                vertical-align: top;
            }
            &:disabled {
                background-color: $gray-16;
            }
        }
        &-input {
            display: inline-block;
            position: relative;
            input[type=checkbox],
            input[type=radio] {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;

                & + * {
                    cursor: pointer;
                }

                &:disabled + * {
                    cursor: no-drop;
                }

                & + span {
                    display: block;
                    height: 32px;
                    padding: 8px 12px 8px 8px;
                    box-sizing: border-box;
                    border-radius: 8px;
                    border: 1px solid $gray-8;
                    background: $white;
                    color: $black;
                    font-size: 12px;
                    letter-spacing: -0.4px;
                    -webkit-tap-highlight-color: $white-pressed;

                    &:before {
                        content: "";
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        background: url(#{$images}/common/check-line-gray-16.svg) no-repeat center /16px 16px;
                        vertical-align: top;
                    }
                }

                &:checked + span {
                    border-color: $primary;
                    background: $primary;
                    color: $white;
                    &:before {
                        background-image: url(#{$images}/common/check-line-white-16.svg);
                    }
                }

                &:disabled + span {
                    border-color: $gray-8;
                    background: $white;
                    color:rgba(0,0,0,.12);
                    
                    &:before {
                        background-image: url(#{$images}/common/check-line-gray-16-disabled.svg);
                    }
                }
            }
        }
        &-list {
            width: calc(100% + 8px);  //사이 간격 8px기준
            margin-left: -4px;
            @extend %clear;

            &__item {
                float: left;
                position: relative;
                margin: 0 4px 8px;  //사이 간격 8px기준
                padding: 8px 32px 8px 14px;
                border:1px solid $gray-8;
                border-radius: 18px;
                color:$black;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: -0.4px;
                -webkit-tap-highlight-color: $white-pressed;
                cursor: pointer;
            }
            &__delete {
                position:absolute;
                top:50%;
                right: 12px;
                width: 14px;
                height: 14px;
                margin: -7px 0 0 -7px;
                background: url(#{$images}/common/close-line-gray.svg) no-repeat center/ 14px 14px;
                font-size: 0;
            }
            &.large {
                .fb__filter-list {
                    &__item {
                        padding: 8px 34px 8px 16px;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: -0.4px;
                    }
                }
            }
        }
    }

    &__typo {
        &__banner1 {
            @extend %typographic;
            font-size: 32px;
            line-height: 40px;
        }

        &__banner2 {
            @extend %typographic;
            font-size: 28px;
            line-height: 36px;
        }

        &__banner3 {
            @extend %typographic;
            font-size: 24px;
            line-height: 30px;
        }

        &__banner4 {
            @extend %typographic;
            font-size: 20px;
            line-height: 26px;
        }

        &__cate-title {
            @extend %typographic;
            font-size: 22px;
            line-height: 28px;
        }

        &__text-title {
            @extend %typographic;
            font-size: 18px;
            line-height: 24px;
        }

        &__subtitle1 {
            @extend %typographic;
            font-size: 32px;
            line-height: 40px;
        }

        &__subtitle2 {
            @extend %typographic;
            font-size: 28px;
            line-height: 36px;
        }

        &__subtitle3 {
            @extend %typographic;
            font-size: 24px;
            line-height: 30px;
        }

        &__subtitle4 {
            @extend %typographic;
            font-size: 20px;
            line-height: 28px;
        }

        &__subtitle5 {
            @extend %typographic;
            font-size: 18px;
            line-height: 26px;
        }

        &__text {
            @extend %typographic;
            font-size: 14px;
            line-height: 20px;
        }

        &__caption {
            @extend %typographic;
            font-size: 12px;
            line-height: 16px;
        }

        &__overline {
            @extend %typographic;
            font-size: 10px;
            line-height: 14px;
        }

        &__price1 {
            @extend %typographic;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -0.2px;
        }

        &__price2 {
            @extend %typographic;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: -0.2px;
        }

        &__price3 {
            @extend %typographic;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: -0.2px;
        }

        &__price4 {
            @extend %typographic;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.2px;
        }

        &__price5 {
            @extend %typographic;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: -0.2px;
        }

        &__price6 {
            @extend %typographic;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
        }

        &__price7 {
            @extend %typographic;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.2px;
        }

        &__price8{
            @extend %typographic;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.2px;
        }

        &__price9 {
            @extend %typographic;
            font-size: 10px;
            line-height: 14px;
            letter-spacing: -0.2px;
        }
    }

    &__noticecaption {
        display: inline-block;
        position:relative;
        padding-left: 20px;
        color: $gray-32;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.4px;
        &:before {
            content:"";
            position:absolute;
            top:0;
            left:0;
            width: 16px;
            height: 16px;
            background:url(#{$images}/common/noticecaption.svg) no-repeat center/16px 16px;
        }
        &.green{
            color:$primary;
            &:before {
                background:url(#{$images}/common/noticecaption-green.svg) no-repeat center/16px 16px;
            }
        }
    }

    &__tabs {
        position: relative;
        overflow: auto hidden;
        white-space: nowrap;
        font-size: 0;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: $gray-16;
        }

        &__list {
            display: inline-block;
            width: 232px;
            height: 48px;
            background-color: $gray-3;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        &__count {
            display: inline-block;
            margin-left: 2px;
            color: $gray-24;
            font-size: 14px;
            line-height: 20px;
        }


        &__btn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 14px 92px;
            color: $black;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.4px;        
        }
        input {
            display:none;
            &.disabled,
            &:disabled {
                & + .fb__tabs__btn {
                    color: $gray-16;
                }
            }    

            &:checked,
            &.disabled:checked {
                & + .fb__tabs__btn {
                    z-index: 1;
                    background-color: $white;
                    color: $primary;
                    font-weight: bold;
                    border: {
                        left: 1px solid $gray-16;
                        right: 1px solid $gray-16;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 1px;
                        background: $gray-16;
                    }
    
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 2px;
                        background: $white;
                    }
    
                    & .fb__tabs__count {
                        color: $primary;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    &__category-tab {
        overflow: auto hidden;
        white-space: nowrap;
        font-size: 0;

        &__list {
            display: inline-block;
            padding: 0 2px;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        &__btn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 48px;
            padding: 10px 16px;
            background: $white;
            border: 1px solid $gray-8;
            border-radius: 8px;
            color: $black;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.4px;


        }

        input {
            display: none;

            &:checked {
                &+.fb__category-tab__btn {
                    background: $secondary-dark;
                    border-color: $secondary-dark;
                    color: $white;
                    font-weight: bold;
                }
            }
        }
    }
    
    &__icon-tab {
        overflow: auto hidden;
        white-space: nowrap;
        font-size: 0;

        &__list {
            display: inline-block;
            padding: 0 7px;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        $imgSize : 48px;

        &__btn {
            position: relative;
            display: flex;
            justify-content: center;
            min-width: $imgSize;
            padding-top: $imgSize + 8px;
            background: $white;
            color: rgba(0, 0, 0, .12);
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.4px;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: $imgSize;
                height: $imgSize;
                margin: 0 auto;
                border-radius: 100%;
                background: $gray-12;
                overflow: hidden;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom:calc(100% - #{$imgSize});
                width: $imgSize;
                height: $imgSize;
                margin: auto;
            }


        }

        $iconTab : 'delivery',
        'morning',
        'delivery-daily',
        'store';

        @each $icon in $iconTab {
            .#{$icon} {
                &:after {
                    background:url(#{$images}/common/#{$icon}-line.svg) no-repeat;
                    background-size: 100%;
                }
            }
        }

        input {
            display: none;

            &:checked {
                &+.fb__icon-tab__btn {
                    color: $primary;
                    font-weight: bold;

                    &:before {
                        background: $primary;
                    }
                }
            }
        }
    }

    &__input {
        &-text {
            &__inner {
                position: relative;
            }

            &__btns {
                display: flex;
                align-items: center;
                font-size: 0;

                > * {
                    display: block !important;
                    position: relative !important;
                    top: 0 !important;
                    right: 0 !important;
                    bottom: 0 !important;
                    left: 0 !important;
                    margin: 0 8px 0 0 !important;
                }
            }

            input {
                width: 100%;
                height: 32px;
                padding: 0 36px 0 12px;
                border: 1px solid $gray-24;
                border-radius: 8px;
                background: $white;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: -0.4px;
                box-sizing: border-box;

                &:placeholder-shown {
                    &+.fb__input-text__clear {
                        display: none;
                    }
                }

                &:disabled {
                    cursor: no-drop;
                }

                &:focus {
                    position: relative;
                }
            }

            &__clear {
                position: absolute;
                top: 50%;
                right: 8px;
                z-index: 2;
                width: 24px;
                height: 24px;
                margin-top: -12px;
                font-size: 0;

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 18px;
                    height: 18px;
                    margin: -9px 0 0 -9px;
                    border-radius: 100%;
                    background:$gray-8 url(#{$images}/common/close-line-white.svg) no-repeat center;
                    background-size: 12px;
                }
            }

            &__success {
                width: 24px;
                height: 24px;
                background: url(#{$images}/common/check-line-primary-24.svg) no-repeat center center/24px 24px;
            }

            &__visible {
                display: none;
                position: absolute;
                top: 50%;
                right: 8px;
                z-index:2;
                width: 32px;
                height: 32px;
                margin-top: -16px;
                font-size: 0;

                input {
                    font-size: 16px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 32px;
                    height: 32px;
                    margin: -16px 0 0 -16px;
                    background:url(#{$images}/common/visible-off.svg) no-repeat center/100%;
                }

                &.on {
                    &:after {
                        background-image: url(#{$images}/common/visible-on.svg);
                    }

                }
            }

            &.disabled {
                input:disabled {
                    border-color: $gray-4;
                    background: $gray-4;
                    color: $disabledBg;

                    &+.fb__input-text__clear {
                        display: none;
                    }
                }
            }

            &.readonly {
                input:read-only {
                    &+.fb__input-text__clear {
                        display: none;
                    }
                }
            }

            &.invalid {
                input {
                    border-color: $red;
                }
            }

            &.visible {
                .fb__input-text__visible {
                    display: block;
                }
            }

            &.line {
                .fb__input-text__inner {
                    &:before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 2px;
                        border-radius: 1px;
                        background: $gray-8;
                    }
                }

                input {
                    height: 48px;
                    padding: 0 36px 0 0;
                    border: none;
                    font-size: 14px;

                    &::placeholder {
                        color: $gray-24;
                    }
                }

                &.disabled {
                    .fb__input-text__inner {
                        &:before {
                            background: $gray-4;
                        }
                    }

                    input:disabled {
                        background: $white;
                        color: $disabledBg;

                        &+.fb__input-text__clear {
                            display: none;
                        }
                    }
                }

                &.invalid {
                    .fb__input-text__inner {
                        &:before {
                            background-color: $red;
                        }
                    }
                }
            }
        }

        &__mask {
            position: absolute;
            left: 0;
            pointer-events: none;
        }
    }

    &__required {
        &__passed {
            margin-top: 8px;
            color: $primary;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.4px;
        }

        &__error {
            margin-top: 8px;
            color: $red;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.4px;
        }
    }

    &__textarea {
        &__inner {
            position: relative;
            padding: 12px 12px 28px;
            border: 1px solid $gray-24;
            border-radius: 8px;
        }

        &__count {
            position: absolute;
            bottom: 12px;
            right: 12px;
            color: $gray-32;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.2px;
            text-align: right;
        }

        textarea {
            border: none;
            background: none;
            outline: none;
            width: 100%;
            height: 80px;
            color: $black;
            font-size: 14px;
            line-height: 1.43;
            letter-spacing: -0.4px;

            &:focus {
                @extend %focus-outline;
            }

            &::placeholder {
                color: $gray-32;
            }
        }

        &.disabled {
            background: $gray-4;
            border-radius: 8px;

            .fb {
                &__textarea {
                    &__inner {
                        border-color: $gray-4;
                    }
                }
            }

            textarea {
                color: $disabledBg;
            }
        }

        &.invalid {
            .fb {
                &__textarea {
                    &__inner {
                        border-color: $red;
                    }
                }
            }
        }
    }

    &__checkbox {
        position: relative;

        input[type=checkbox] {
            // box-shadow: inset 0 0 0px 0.5px $gray-8, 0 0 0px 0.5px $gray-8, inset 0 0 0px 0px rgba(0, 0, 0, 0.05);
            -webkit-appearance: none;

            &+span {
                display: inline-block;
                margin-left: 26px;
                color: $black;
                font-size: 14px;
                letter-spacing: -0.4px;

                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    border: 1px solid $gray-24;
                    border-radius: 6px;
                    background:$white no-repeat center;
                    background-size: 16px;
                    vertical-align: middle;
                    box-sizing: border-box;
                }
            }

            &:checked {

                &+span {
                    &:before {
                        border-color: $gray-80;
                        background-color: $gray-80;
                        background-image: url(#{$images}/common/check-line-16.svg);
                    }
                }
            }

            &:disabled {

                &+span {
                    &:before {
                        border-color: $gray-16;
                        background-color: $gray-16;
                    }
                }
            }

            &:active {
                outline: none;
            }

            &:focus {
                outline: none;

                & ~ span {
                    @extend %focus-outline;
                }
            }
        }

        &.large {
            input[type=checkbox] {

                &+span {
                    margin-left: 30px;
                    font-size: 16px;
                    line-height: 24px;

                    &:before {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        &.white {
            input[type=checkbox]:checked {

                &+span {
                    &:before {
                        background: $white url(#{$images}/common/check-line-16-black.svg) no-repeat center;
                    }
                }
            }
        }

        &.boxing {
            display: block;
            position: relative;
            width: 100%;
            height: 48px;
            border: none;
            background: none;
            text-align: center;

            input[type=checkbox] {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;

                &+span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    border: 1px solid $gray-8;
                    border-radius: 8px;
                    background: $white;
                    margin: 0;
                    color: $black;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.4px;

                    &:before {
                        position: static;
                        content: "";
                        width: 24px;
                        height: 24px;
                        margin-right: 12px;
                        border: none;
                        background:url(#{$images}/common/check-line-black-24.svg) no-repeat center/24px 24px;
                    }
                }

                &:checked {
                    &+span {
                        border-color: $primary;
                        background-color: $primary;
                        color: $white;

                        &:before {
                            background-image: url(#{$images}/common/check-line-white-24.svg);
                        }
                    }

                }
            }

        }
    }

    &__radio {

        input[type=radio] {
            position: absolute;
            -webkit-appearance: none;

            &+span {
                display: inline-block;
                position: relative;
                padding-left: 26px;
                color: $black;
                font-size: 14px;
                letter-spacing: -0.4px;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border: 1px solid $gray-24;
                    border-radius: 100%;
                    background: $white;
                    vertical-align: middle;
                    box-sizing: border-box;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 7px;
                    margin-top: -2px;
                    z-index: 1;
                    width: 6px;
                    height: 6px;
                    border-radius: 100%;
                    background: $white;
                    box-sizing: border-box;
                }
            }

            &:checked {
                &+span {
                    &:before {
                        border-color: $gray-80;
                        background-color: $gray-80;
                    }
                }
            }

            &:disabled {
                & + span {
                    cursor: no-drop;

                    &:before {
                        border-color: $gray-16;
                        background-color: $gray-16;
                    }
                }
            }

            &:active {
                outline: none;
            }

            &:focus {
                outline: none;
                
                & ~ span {
                    @extend %focus-outline;
                }
            }
        }

        &.large {
            input[type=radio] {
                &+span {
                    padding-left: 30px;
                    font-size: 16px;

                    &:before {
                        width: 24px;
                        height: 24px;
                    }

                    &:after {
                        left: 9px;
                    }
                }
            }
        }
    }

    &__page {
        display: inline-block;
        position:relative;
        margin:0 56px;
        padding: 0;
        font-size:0;
        text-align:center;

        &__btn {
            display:inline-block;
            width: 32px;
            height: 32px;
            line-height: 20px;
            color: $gray-32;
            font-size: 14px;
            letter-spacing: -0.2px;
            text-align: center;
            font-family: $lato;
        }

        &--now {
            // background-color: $gray-80;
            // border-radius: 8px;
            // color: $white;
            span {
                position: relative;
                color: $black;
                font-weight: bold;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: -6px;
                    left: 50%;
                    max-width: 32px;
                    width: 100%;
                    height: 1px;
                    padding: 0 4px;
                    transform: translateX(-50%);
                    background-color: $gray-68;

                }
            }
            &:disabled {
                opacity: 1;
                cursor:default;
            }
        }

        &__arrow {
            position:absolute;
            top: 50%;
            transform: translateY(-50%);
            min-width: 56px;

            &.left {
                right: 100%;
                margin-right: 8px;
                text-align: right;
            }
            &.right {
                left: 100%;
                margin-left: 8px;
                text-align: left;
            }
        }

        &__prev {
            width: 20px;
            height: 20px;
            margin-left: 8px;
            background: url(#{$images}/common/link-line-20-black.svg) no-repeat center;
            transform: rotate(180deg);
            font-size: 0;

            &:disabled {
                opacity: .2;
            }
        }

        &__first {
            width: 20px;
            height: 20px;
            background: url(#{$images}/common/link-next-line-20.svg) no-repeat center;
            transform: rotate(180deg);
            font-size: 0;

            &:disabled {
                opacity: .2;
            }
        }

        &__next {
            width: 20px;
            height: 20px;
            margin-right: 8px;
            background: url(#{$images}/common/link-line-20-black.svg) no-repeat center;
            font-size: 0;

            &:disabled {
                opacity: .2;
            }
        }

        &__last {
            width: 20px;
            height: 20px;
            background: url(#{$images}/common/link-next-line-20.svg) no-repeat center;
            font-size: 0;

            &:disabled {
                opacity: .2;
            }
        }
    }

    &__select {
        position: relative;

        &.line {
            select {
                border-radius: 8px;
                border: solid 1px $gray-8;
            }
        }

        &.high {
            select {
                height: 40px;
            }
        }
    }

    &__fetching {
        padding: 20px 0;

        @keyframes temp-fetching {
            0% {
                transform: rotate(0deg);
            }

            25% {
                transform: rotate(90deg);
            }

            50% {
                transform: rotate(180deg);
            }

            75% {
                transform: rotate(270deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        &::before {
            display: block;
            margin: auto;
            width: 50px;
            height: 50px;
            // padding: 14px;
            // border-radius: 50%;
            background: url(#{$images}/common/spinner.gif) no-repeat center/50px 50px;
            // animation: temp-fetching 1.5s linear infinite ;
            content: "";
        }
    }

    &__fetch {
        &__ing {
            padding: vw(20px 0);

            @keyframes temp-fetching {
                0% {
                    transform: rotate(0deg);
                }

                25% {
                    transform: rotate(90deg);
                }

                50% {
                    transform: rotate(180deg);
                }

                75% {
                    transform: rotate(270deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            &::before {
                display: block;
                margin: auto;
                width: 39px;
                height: 39px;
                padding: 14px;
                border-radius: 50%;
                background: $primary url(#{$images}/common/pulmuone-filled.svg) no-repeat center/39px 39px;
                animation: temp-fetching 1.5s linear infinite ;
                content: "";
            }
        }

        &__error {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            padding: 16px;
            font-size: 16px;

            button {
                margin-top: 4px;
            }
        }
    }

    &__hide-font {
        @extend %hide-font;
    }

    .a11y,
    .blind {
        overflow: hidden !important;
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        clip: rect(1px, 1px, 1px, 1px) !important;

        &:active, &:focus {
            outline: none !important;
        }
    }

    /* IR 기법 CSS */
	.visually-hidden {
		position: absolute;
		margin: -1px;
		width: 1px;
		height: 1px;
		padding: 0;
		border: 0;
		white-space: nowrap;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		clip-path: inset(50%);
	}
}
