// 공통레이아웃
.inner {
  width: $width;
  margin: 0 auto;
}

// 상단
.header {
  width: 100%;
  
  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      color: $gray-80;
      font-size: 36px;
    }
    .search {
      
    }
    .util {

    }
  }

  &_gnb {

  }
  
}

// 내용
.container {
  background: #eee;
}