// 공통레이아웃
.inner {
  width: $width;
  margin: 0 auto;
}

// 상단
.header {
  width: 100%;
  border-bottom: 1px solid $gray-2;
  
  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    .logo {
      width: 30%;

      a {
        color: $black;
        font-size: 36px;
        font-weight: 800;

        span {
          font-weight: 600;
        }
      }
    }

    .search {
      background-color: #eee;
      border-radius: 100px;
      
      &_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 460px;
        height: 48px;
        padding: 0 30px;
        
        form {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 100%;
        }

        input {
          width: 80%;
          height: 100%;
          border: none;
          background: none;
        }
        .btn_search {
          width: 28px;
          height: 28px;
          background: url(#{$images}/icon/icon-serach-28.svg) no-repeat;
        }
      }
    }
    .util a {
      padding-left:10px;
      font-size: 14px;
      color: $gray-60;
    }
  }

  &_gnb {
    position: relative;
    height: 50px;

    .category {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 34px;
      font-size: 18px;
      color: $gray-80;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 28px;
        height: 28px;
        background: url(#{$images}/icon/icon-cate-28.svg) no-repeat;
      }
    }

    .nav {
      width: 100%;
      text-align: center;

      a {
        display: inline-block;
        padding:0 30px;
        font-size: 18px;
        color: $gray-80;
      }
    }

  }
  
}

// 하단
.footer {
  border-top: 1px solid #eee;
  margin: 100px 0 100px;

  &_content {
    margin-top: 40px;
    text-align: center;
  }
}

// 내용
.sub_content {
  margin-top: 50px;

  h2 {
    font-size: 30px;
    color: $gray-80;
    margin-bottom: 30px;
  }
}
.container {
  .content {
    &_iconBanner {
      display: flex;
      justify-content: center;
      margin: 85px 0 65px;

      a {
        display: block;
        width: 100px;
        text-align: center;
        font-weight: 400;
        margin: 0 30px;
        
        .icon {
          width: 100px;
          height: 100px;
          border-radius: 100px;
          background: #eee;
          margin-bottom: 10px;
          padding-top: 24px;
          -webkit-transition: all 0.4s;
          transition: all 0.4s;
        }
        &:hover .icon{
          background: $point;
        }
        &:hover img{
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1000%) contrast(1000%);
        }
      }
    }

    &_bestItem {
      h2 {
        font-size: 30px;
        color: $gray-80;
        margin-bottom: 30px;
      }
    }

    &_longBanner {
      margin: 20px 0 90px;
    }

    &_newItem {
      h2 {
        font-size: 30px;
        color: $gray-80;
        margin-bottom: 30px;
      }
    }
  }
}

// 메인 - 메인비주얼
.mainVisualSwiper {
  height: 520px;
  width: 100%;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1n) {
      background: url(#{$images}/main/main-visual-01.jpg) top center no-repeat;
    }
    &:nth-child(2n) {
      background: url(#{$images}/main/main-visual-02.jpg) top center no-repeat;
    }
    &:nth-child(3n) {
      background: url(#{$images}/main/main-visual-03.jpg) top center no-repeat;
    }
  }

  & .swiper-pagination {
    width: 200px;
    left: 50%;
    margin-left: -655px;
    bottom: 55px;
    font-size: 14px;
    color: $black;
  }

  & .swiper-button-next, .swiper-button-prev {
    top: auto;
    bottom : 51px;
    color: $black;
    height:30px;
    z-index: 20;
  }
  & .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 14px;
    font-weight: 700;
  }
  & .swiper-button-prev {
    left: 50%;
    margin-left: -600px;
  }
  & .swiper-button-next {
    left: 50%;
    margin-left: -540px;
  }
}

// 상품리스트
.product {
  &_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_item {
    position: relative;
    margin-bottom: 70px;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    .tag {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 62px;
      height: 62px;
      top: 20px;
      right: 20px;
      background: $primary;
      border-radius: 100px;
      font-size: 26px;
      color: $white;
    }
  }

  &_img img {
    width: 100%;
    height: 100%;
  }  
  
  &_info {
    .info_tag_best {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      line-height: 40px;
      color: $white;
      text-align: center;
      background: $primary;
      border-bottom-right-radius: 10px;
    }
    .info_title {
      display: block;
      font-size :18px;
      color: $gray-80;
      margin: 14px 0 8px;
    }
    .info_discount {
      display: inline-block;
      font-size: 22px;
      color: $point;
    }
    .info_price {
      display: inline-block;
      font-size: 22px;
      color: $gray-80;
      margin-left: 10px;
    }
    .info_del {
      display: inline-block;
      color: $gray-60;
      margin-left: 10px;
    }
  }
}
.typeBest {
  .product_item {
    width: 585px;
  }
  .product_img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    border-radius: 0 30px 0 30px;
    overflow: hidden;

    img {
      height:585px;
    }
  }
}
.type3 {
  .product_item {
    width: 380px;
  }
  .product_img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    overflow: hidden;

    img {
      height:380px;
    }
  }
}
.type4 {
  .product_item {
    width: 280px;
  }
  .product_img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
    overflow: hidden;

    img {
      height:280px;
    }
  }
}

// 상품상세페이지
// 상세 상단
.product_top {
  display: flex;

  .detail {
    &_img {
      width: 540px;

      img {
        width: 100%;
      }
    }

    &_info {
      &_wrap {
        width: 50%;
        margin-left: 60px;
      }

      &_header {
        position: relative;

        h3 {
          font-size: 42px;
          line-height: 52px;
          color: $gray-80;
          padding-top: 20px;
        }
        .btn_back {
          position: absolute;
          top: 0;
          right: 0;
          width: 30px;
          line-height: 30px;
          border: 1px solid $gray-16;
          border-radius: 100px;          
          font-size: 14px;
          text-align: center;
        }
      }

      &_price {
        margin: 30px 0;

        .info_del {
          display: block;
          font-size: 18px;
          color: $gray-32;
        }
        .info_price {
          display: inline-block;
          color: $gray-80;
          strong {
            font-size: 32px;
          }
        }
        .info_discount {
          display: inline-block;
          margin-left: 10px;
          font-size: 32px;
          color: $point;
        }
      }
      &_content {
        border-top: 1px solid $gray-8;
        border-bottom: 1px solid $gray-8;
        padding: 15px 0;
        margin-bottom: 20px;

        dl { 
          display: flex;
          flex-wrap: wrap;
        }
        dt {
          width: 25%;
          padding: 3px 0;
        }
        dd {
          width: 75%;
          padding: 3px 0;
        }
      }
      &_quantity {
        display: flex;
        justify-content: space-between;
        background: $gray-4;
        padding: 20px 20px;

        .info_quantity {
          &_wrap {
            display: flex;
          }

          &_btn_minus {
            width: 32px;
            height: 32px;            
            background: #fff;
            font-size: 26px;
          }
          &_number {
            width: 42px;
            line-height: 30px;
            background: #fff;
            font-size: 16px;
            text-align: center;
            border-left: 1px solid $gray-8;
            border-right: 1px solid $gray-8;
          }
          &_btn_plus {
            width: 32px;
            height: 32px;
            background: #fff;
            font-size: 26px;
          }
          &_price {
            font-size: 18px;
          }
        }
      }

      &_summary {
        dl {          
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          margin-top: 20px;

          dt {
            font-size: 18px;
            margin-bottom: 6px;
          }
          dd {
            margin-left: 10px;
            color: $point;
            em {
              font-size: 34px;
              font-weight: 700;
            }
          }
        }
      }

      &_footer {
        display: flex;
        margin-top: 30px;

        .btn_detail_cart {
          width: 45%;
          height: 54px;
          border: 1px solid $point;
          border-right: 0;
          color: $point;
        }
        .btn_detail_buy {
          width: 55%;
          height: 54px;
          background: $point;
          color: $white;
        }
      }
    }
  }
}

// 상품 상세 정보
.product_content {
  margin: 100px 80px 0 80px;
  padding-top: 50px;
  text-align: center;

  .detail_img {
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }
  }

  h4 {
    font-size: 42px;
    color: $gray-80;
    margin: 50px 0 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid $gray-8;
  }
  p {
    line-height: 1.8;
  }
}

// 이벤트리스트
.event {
  &_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_item {
    position: relative;
    margin-bottom: 30px;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &_img img {
    width: 100%;
    height: 100%;
  }
}

// 이벤트 상세정보
.event_detail_info {
  position: relative;
  margin-bottom: 20px;

  h3 {
    font-size: 36px;
    color: $gray-80;
  }
  span {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.event_detail_img {
  position: relative;
  max-width: 1920px;
  min-width: 1120px;
  margin: 0 auto;
}
.event_detail_img img {
  max-width: none;
  margin: 0 -376px auto;
}