// 공통레이아웃
.inner {
  width: $width;
  margin: 0 auto;
}

// 상단
.header {
  width: 100%;
  border-bottom: 1px solid $gray-2;
  
  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    .logo {
      width: 30%;

      a {
        color: $black;
        font-size: 36px;
        font-weight: 800;

        span {
          font-weight: 600;
        }
      }
    }

    .search {
      background-color: #eee;
      border-radius: 100px;
      
      &_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 460px;
        height: 48px;
        padding: 0 30px;

        input {
          width: 80%;
          height: 100%;
          border: none;
          background: none;
        }
        .btn_search {
          width: 28px;
          height: 28px;
          background: url(#{$images}/icon/icon-serach-28.svg) no-repeat;
        }
      }
    }
    .util a {
      padding-left:10px;
      font-size: 14px;
      color: $gray-60;
    }
  }

  &_gnb {
    position: relative;
    height: 50px;

    .category {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 34px;
      font-size: 18px;
      color: $gray-80;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 28px;
        height: 28px;
        background: url(#{$images}/icon/icon-cate-28.svg) no-repeat;
      }
    }

    .nav {
      width: 100%;
      text-align: center;

      a {
        display: inline-block;
        padding:0 30px;
        font-size: 18px;
        color: $gray-80;
      }
    }

  }
  
}

// 하단
.footer {
  border-top: 1px solid #eee;
  margin: 50px 0 100px;

  &_content {
    margin-top: 40px;
    text-align: center;
  }
}

// 내용
.sub_content {
  margin-top: 50px;

  h2 {
    font-size: 30px;
    color: $gray-80;
    margin-bottom: 30px;
  }
}
.container {
  .content {
    &_iconBanner {
      display: flex;
      justify-content: center;
      margin: 85px 0 65px;

      a {
        display: block;
        width: 100px;
        text-align: center;
        font-weight: 400;
        margin: 0 30px;
        
        .icon {
          width: 100px;
          height: 100px;
          border-radius: 100px;
          background: #eee;
          margin-bottom: 10px;
          padding-top: 24px;
          -webkit-transition: all 0.4s;
          transition: all 0.4s;
        }
        &:hover .icon{
          background: $point;
        }
        &:hover img{
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1000%) contrast(1000%);
        }
      }
    }

    &_bestItem {
      h2 {
        font-size: 30px;
        color: $gray-80;
        margin-bottom: 30px;
      }
    }

    &_longBanner {
      margin: 20px 0 90px;
    }

    &_newItem {
      h2 {
        font-size: 30px;
        color: $gray-80;
        margin-bottom: 30px;
      }
    }
  }
}

// 상품리스트
.product {
  &_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_item {
    position: relative;
    margin-bottom: 70px;

    .tag {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 62px;
      height: 62px;
      top: 20px;
      right: 20px;
      background: $primary;
      border-radius: 100px;
      font-size: 26px;
      color: $white;
    }
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  &_img img{
    width: 100%;
    height: 100%;
  }  
  
  &_info {    
    .info_title {
      display: block;
      font-size :18px;
      color: $gray-80;
      margin: 14px 0 8px;
    }
    .info_discount {
      display: inline-block;
      font-size: 22px;
      color: $point;
    }
    .info_price {
      display: inline-block;
      font-size: 22px;
      color: $gray-80;
      margin-left: 10px;
    }
    .info_del {
      display: inline-block;
      color: $gray-60;
      margin-left: 10px;
    }
  }
}
.typeBest {
  .product_item {
    width: 585px;
  }
  .product_img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    border-radius: 0 30px 0 30px;
    overflow: hidden;

    img {
      height:585px;
    }
  }
}
.type3 {
  .product_item {
    width: 380px;
  }
  .product_img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    overflow: hidden;

    img {
      height:380px;
    }
  }
}
.type4 {
  .product_item {
    width: 280px;
  }
  .product_img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
    overflow: hidden;

    img {
      height:280px;
    }
  }
}

// 메인비주얼
.mainVisualSwiper {
  height: 520px;
  width: 100%;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1n) {
      background: url(#{$images}/main/main-visual-01.jpg) top center no-repeat;
    }
    &:nth-child(2n) {
      background: url(#{$images}/main/main-visual-02.jpg) top center no-repeat;
    }
    &:nth-child(3n) {
      background: url(#{$images}/main/main-visual-03.jpg) top center no-repeat;
    }
  }

  & .swiper-pagination {
    width: 200px;
    left: 50%;
    margin-left: -655px;
    bottom: 55px;
    font-size: 14px;
    color: $black;
  }

  & .swiper-button-next, .swiper-button-prev {
    top: auto;
    bottom : 51px;
    color: $black;
    height:30px;
    z-index: 20;
  }
  & .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 14px;
    font-weight: 700;
  }
  & .swiper-button-prev {
    left: 50%;
    margin-left: -600px;
  }
  & .swiper-button-next {
    left: 50%;
    margin-left: -540px;
  }
}